@media print {
  a[href]:after {
    content: none;
  }
}

.element-row {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 768px) {
  .element-container, .element-gap-1, .element-gap-2, .element-gap-3 {
    float: left;
    height: 4em;
  }
  .element-container {
    width: 5.55556%;
  }
  .element-gap-1 {
    width: 88.88889%;
  }
  .element-gap-2, .element-gap-3 {
    width: 55.55556%;
  }

  .element {
    text-align: center;
  }
}

@media (max-width: 767px) {
  /* separate rows visibly when in collapsed mode */
  .element-row ~ .element-row {
    margin-top: 1em;
  }
}

.element-container {
  padding: 0.1em;
}

.element {
  width: 100%;
  height: 100%;
  border: 0.05em solid black;

  background-color: #BBFFFF;
}

.element-name {
  font-size: 1.2em;
  display: inline-block;
  min-width: 2em;
}

.element.disabled {
  opacity: 0.4;
}

#He.element, #Ne.element, #Ar.element, #Kr.element, #Xe.element, #Rn.element {
  background-color: #77FFBB;
}

#F.element, #Cl.element, #Br.element, #I.element {
  background-color: #FFFFBB;
}

#H.element, #C.element, #N.element, #O.element, #P.element, #S.element, #Se.element {
  background-color: #BBFF77;
}

#B.element, #Si.element, #Ge.element, #As.element, #Sb.element, #Te.element, #At.element {
  background-color: #CCCCFF;
}

#Al.element, #Ga.element, #In.element, #Sn.element, #Tl.element, #Pb.element, #Bi.element, #Po.element {
  background-color: #77BBFF;
}

#Li.element, #Na.element, #K.element, #Rb.element {
  background-color: #FFBBFF;
}

#Be.element, #Mg.element, #Ca.element, #Sr.element, #Ba.element {
  background-color: #FFBB77;
}

/* vim: set ts=2 sw=2 tw=0 :*/
