<div class="periodic-table">
  <div class="element-row">
    <div class="element-container">
      <div class="element" id="H" [class.disabled]="!pseudos.H" [class.disabled]="!pseudos.H">
        <span class="element-name">H</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.H></pseudotable-element></span>
      </div>
    </div>
    <div class="element-gap-1"></div>
    <div class="element-container">
      <div class="element" id="He" [class.disabled]="!pseudos.He">
        <span class="element-name">He</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.He></pseudotable-element></span>
      </div>
    </div>
  </div>
  <div class="element-row">
    <div class="element-container">
      <div class="element" id="Li" [class.disabled]="!pseudos.Li">
        <span class="element-name">Li</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Li></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Be" [class.disabled]="!pseudos.Be">
        <span class="element-name">Be</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Be></pseudotable-element></span>
      </div>
    </div>
    <div class="element-gap-2"></div>
    <div class="element-container">
      <div class="element" id="B" [class.disabled]="!pseudos.B" >
        <span class="element-name">B</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.B></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="C" [class.disabled]="!pseudos.C" >
        <span class="element-name">C</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.C></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="N" [class.disabled]="!pseudos.N" >
        <span class="element-name">N</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.N></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="O" [class.disabled]="!pseudos.O" >
        <span class="element-name">O</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.O></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="F" [class.disabled]="!pseudos.F" >
        <span class="element-name">F</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.F></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Ne" [class.disabled]="!pseudos.Ne">
        <span class="element-name">Ne</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Ne></pseudotable-element></span>
      </div>
    </div>
  </div>
  <div class="element-row">
    <div class="element-container">
      <div class="element" id="Na" [class.disabled]="!pseudos.Na">
        <span class="element-name">Na</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Na></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Mg" [class.disabled]="!pseudos.Mg">
        <span class="element-name">Mg</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Mg></pseudotable-element></span>
      </div>
    </div>
    <div class="element-gap-3"></div>
    <div class="element-container">
      <div class="element" id="Al" [class.disabled]="!pseudos.Al">
        <span class="element-name">Al</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Al></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Si" [class.disabled]="!pseudos.Si">
        <span class="element-name">Si</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Si></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="P" [class.disabled]="!pseudos.P" >
        <span class="element-name">P</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.P></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="S" [class.disabled]="!pseudos.S" >
        <span class="element-name">S</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.S></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Cl" [class.disabled]="!pseudos.Cl">
        <span class="element-name">Cl</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Cl></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Ar" [class.disabled]="!pseudos.Ar">
        <span class="element-name">Ar</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Ar></pseudotable-element></span>
      </div>
    </div>
  </div>
  <div class="element-row">
    <div class="element-container">
      <div class="element" id="K" [class.disabled]="!pseudos.K" >
        <span class="element-name">K</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.K></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Ca" [class.disabled]="!pseudos.Ca">
        <span class="element-name">Ca</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Ca></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Sc" [class.disabled]="!pseudos.Sc">
        <span class="element-name">Sc</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Sc></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Ti" [class.disabled]="!pseudos.Ti">
        <span class="element-name">Ti</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Ti></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="V" [class.disabled]="!pseudos.V" >
        <span class="element-name">V</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.V></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Cr" [class.disabled]="!pseudos.Cr">
        <span class="element-name">Cr</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Cr></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Mn" [class.disabled]="!pseudos.Mn">
        <span class="element-name">Mn</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Mn></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Fe" [class.disabled]="!pseudos.Fe">
        <span class="element-name">Fe</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Fe></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Co" [class.disabled]="!pseudos.Co">
        <span class="element-name">Co</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Co></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Ni" [class.disabled]="!pseudos.Ni">
        <span class="element-name">Ni</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Ni></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Cu" [class.disabled]="!pseudos.Cu">
        <span class="element-name">Cu</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Cu></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Zn" [class.disabled]="!pseudos.Zn">
        <span class="element-name">Zn</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Zn></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Ga" [class.disabled]="!pseudos.Ga">
        <span class="element-name">Ga</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Ga></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Ge" [class.disabled]="!pseudos.Ge">
        <span class="element-name">Ge</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Ge></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="As" [class.disabled]="!pseudos.As">
        <span class="element-name">As</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.As></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Se" [class.disabled]="!pseudos.Se">
        <span class="element-name">Se</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Se></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Br" [class.disabled]="!pseudos.Br">
        <span class="element-name">Br</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Br></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Kr" [class.disabled]="!pseudos.Kr">
        <span class="element-name">Kr</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Kr></pseudotable-element></span>
      </div>
    </div>
  </div>
  <div class="element-row">
    <div class="element-container">
      <div class="element" id="Rb" [class.disabled]="!pseudos.Rb">
        <span class="element-name">Rb</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Rb></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Sr" [class.disabled]="!pseudos.Sr">
        <span class="element-name">Sr</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Sr></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Y" [class.disabled]="!pseudos.Y" >
        <span class="element-name">Y</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Y></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Zr" [class.disabled]="!pseudos.Zr">
        <span class="element-name">Zr</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Zr></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Nb" [class.disabled]="!pseudos.Nb">
        <span class="element-name">Nb</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Nb></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Mo" [class.disabled]="!pseudos.Mo">
        <span class="element-name">Mo</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Mo></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Tc" [class.disabled]="!pseudos.Tc">
        <span class="element-name">Tc</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Tc></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Ru" [class.disabled]="!pseudos.Ru">
        <span class="element-name">Ru</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Ru></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Rh" [class.disabled]="!pseudos.Rh">
        <span class="element-name">Rh</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Rh></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Pd" [class.disabled]="!pseudos.Pd">
        <span class="element-name">Pd</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Pd></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Ag" [class.disabled]="!pseudos.Ag">
        <span class="element-name">Ag</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Ag></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Cd" [class.disabled]="!pseudos.Cd">
        <span class="element-name">Cd</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Cd></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="In" [class.disabled]="!pseudos.In">
        <span class="element-name">In</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.In></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Sn" [class.disabled]="!pseudos.Sn">
        <span class="element-name">Sn</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Sn></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Sb" [class.disabled]="!pseudos.Sb">
        <span class="element-name">Sb</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Sb></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Te" [class.disabled]="!pseudos.Te">
        <span class="element-name">Te</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Te></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="I" [class.disabled]="!pseudos.I" >
        <span class="element-name">I</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.I></pseudotable-element></span>
      </div>
    </div>
    <div class="element-container">
      <div class="element" id="Xe" [class.disabled]="!pseudos.Xe">
        <span class="element-name">Xe</span>
        <span class="element-data"><pseudotable-element [pseudo]=pseudos.Xe></pseudotable-element></span>
      </div>
    </div>
  </div>
</div>

<!--  vim: set ts=2 sw=2 tw=0 :-->
